<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head") %>
        <link rel="stylesheet" href="css/anadirstyles.css">
        <title>Modulo ABM</title>
    </head>
<body>
    <header>   
        <%- include("./partials/header") %>
    </header>
    
    <main class="register">
        <form action="/" method="POST">
        <div class="titulo">
            <h2>AÑADIR VACUNO</h2>
        </div>
        <div class="formanadir">
        
            <div class="calsificacionv">
            <label for="categoria">CATEGORIA</label>
            <select name="clasificacionvacuna" id="clasificacionvacuna">
                <option value="En Blanco"></option>
                <option value="Ternera">Ternera</option>
                <option value="Ternero">Ternero</option>
                <option value="Vaquillona">Vaquillona</option>
                <option value="Torito">Torito</option>
                <option value="Novillo">Novillo</option>
                <option value="Vaca">Vaca</option>
                <option value="Toro">Toro</option>
            </select>
            <span><p class="pformu">Debe elegir una categoría</p></span>
            </div>
        
        <div class="nombre">
            <label for="nombre">NOMBRE</label>
            <input class="nombreinput" type="text" name="Nombre del vacuno" placeholder="Nombre del Vacuno">
            <span><p class="pformu">Debe tener más de 4 caracteres</p></span>
        </div>

        <div class="nacimiento">
            <label for="fechadenacimiento">FECHA DE NACIMIENTO<b class="b"></b></label>
            <input class="nacimientoinput" type="date" name="Fecha de nacimiento" id="fechadenacimiento">
            <span><p class="pformu"></p></span>
        </div>

        <div class="dueño">
            <label for="nombre">DUEÑO</label>
            <input class="dueñoinput" type="text" name="Dueño" placeholder="Dueño">
            <span><p class="pformu">Debe Ingresar un Dueño</p></span>
        </div>

        <div class="hijade">
            <label for="nombre">HIJA DE</label>
            <input class="hijadeinput" type="text" name="Hija de" placeholder="Hija de">
            <span><p class="pformu">Debe Ingresar la línea de Sangre</p></span>
        </div>
            
        <div class="fotodevacuno">
            <label for="imagen">IMAGEN DEL VACUNO</label>
            <input type="file" name="userImage" id="userImage">
            <span><p class="pformu"></p></span>
        </div>
        
        <div class="comentario">
            <label for="nombre">COMENTARIO</label>
            <p><textarea name="comentarioinput" rows="5" cols="43" placeholder="Escribe aquí tu comentario:"></textarea></p>
            <span><p class="pformu">Debe insertar las características del animal</p></span>

        </div>
            <div class="confirmcancel">                
            <input class="cc" type="submit" value="CONFIRMAR">
            </div>
        </div>
        </form>
    </div>
    </main>
    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>
</html>