<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Añadir</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/stylesr.css">
    </head>
<body>
    <body>
        <header>
            <div>Fecha y Hora</div>
            <div>Logo</div>
            <div>Menu Hamburguesa</div>
        </header>
        <main class="register">
            <form action="/" method="POST">
            <div>
                <h2>Añadir Vacuno</h2>
            </div>

            <div class="nombre">
                <input class="nombreinput" type="text" name="name" placeholder="Nombre">
                <span><p href="pformu"></p></span>
            </div>

            <div class="nacimiento">
                <label for="birth_date"><b class="b"></b></label>
                <input class="nacimientoinput" type="date" name="birth_date" id="birth_date">
                <span><p class="pformu"></p></span>
            </div>

            <div class="dueño">
                <input class="dueño" type="text" name="addres" placeholder="Dueño">
                <span><p class="pformu"></p></span>
            </div>

            <div class="hijade">
                <input class="hijade" type="text" name="addres" placeholder="Hija de">
                <span><p class="pformu"></p></span>
            </div>
            
            <div class="comentario">
                <p><textarea name="comentario" rows="5" cols="50">Escribe aquí tu comentario: </textarea></p>
            </div>
            </div>
        </form>
    </main>
        <footer>
            <div>Datos Meteorologico</div>
        </footer>
</body>
</html>