<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Modulo ABM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles.css">
    </head>
</head>
<body>
    <header>
        <div class="top-header">
            
        <div class="fechahora">Fecha y Hora<div>

        <div class="logoyhamburguesa">
            <div class="logo"><img src="" alt="Logo ABM" class="imgABM"></div>
            <div class="burger-menu"><i class="fa fa-bars burger"></i></div>
        </div>
    </div>
    </header>
    <main>
        <div>
            <a href="anadir">Añadir</a>
        </div>
        <div>Modificar</div>
        <div>Venta</div>
        <div>Compra</div>
        <div>Registro de lluvia</div>
        <div>Deceso</div>
    </main>
    <footer>
        <div>Datos Meteorologico</div>
    </footer>
</body>
</html>