<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Modulo ABM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/homestyles.css">
    </head>
</head>
<body>
    <header>   
        <div class="fechahora">
            <div id="fechad">
            <script>
                var d=new Date();
                var dia=new Array(7);
                dia[0]="Domingo";
                dia[1]="Lunes";
                dia[2]="Martes";
                dia[3]="Miercoles";
                dia[4]="Jueves";
                dia[5]="Viernes";
                dia[6]="Sabado";
                document.write(dia[d.getDay()]);
            </script>
            </div>
            <div id="fecha">
                <script>
                    //<![CDATA[
                    function makeArray() {
                    for (i = 0; i<makeArray.arguments.length; i++)
                    this[i + 1] = makeArray.arguments[i];}
                    var months = new makeArray('Enero','Febrero','Marzo','Abril','Mayo',
                    'Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre');
                    var date = new Date();
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var yy = date.getYear();
                    var year = (yy < 1000) ? yy + 1900 : yy;
                    document.write(day + "  " + months[month] + "  " + year);
                    //]]>
                    </script>   
                </div>

            <div id="reloj">
            <script>
                function startTime(){
                today=new Date();
                h=today.getHours();
                m=today.getMinutes();
                s=today.getSeconds();
                m=checkTime(m);
                s=checkTime(s);
                document.getElementById('reloj').innerHTML=h+":"+m+":"+s;
                t=setTimeout('startTime()',500);}
                function checkTime(i)
                {if (i<10) {i="0" + i;}return i;}
                window.onload=function(){startTime();}
                </script>
                </div>
        </div>

        <div class="logoyhamburguesa">
            <div class="logo"><img src="images/moduloABM2.png" alt="Logo ABM" class="imgABM"></div>
            <div class="burger-menu"><i class="fa fa-bars burger-10x"></i></div>
        </div>
    </header>
    <main class="head-main">
        <div class="seccionanadir"><a href="anadir"><img src="images/agregar.png" alt="Logo agregar" class="imgagregar">AGREGAR</a></div>
        <div class="seccionmodificar"><a href=""><img src="images/modificar.png" alt="Logo modificar" class="imgmodificar">MODIFICAR</a></div>
        <div class="seccionventa"><a href=""><img src="images/venta.png" alt="Logo venta" class="imgventa">VENTA</a></div>
        <div class="seccioncompra"><a href=""><img src="images/compra.png" alt="Logo compra" class="imgcompra">COMPRA</a></div>
        <div class="seccionregistrodelluvia"><a href=""><img src="images/registrodelluvia.png" alt="Logo registrodelluvia" class="imgregistrodelluvia"><br>REGISTRO DE<br>LLUVIA</a></div>
        <div class="secciondeceso"><a href=""><img src="images/deceso.png" alt="Logo deceso" class="imgdeceso">DECESO</a></div>
    </main>
    <footer class="pie-foot">
        <a class="adelfoot" href="https://weather.com/es-AR/tiempo/hoy/l/b281aa8878cb4c22c9ffe94da42fc84c9d560c70e18e749264289b2ff47c7c07">DATO <br> METEOROLOGICO</a>
    </footer>
</body>
</html>