
/*head-main*/
main.head-main{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: black;
    font-family: fantasy;
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
a.aregistrodelluvia{
    text-align: center;
    width: 80%;
    font-size: 16px;
}

div.seccionanadir{
    box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.71);
    border: 5px solid darkblue;
    border: groove;
    height: 150px;
    width: 165px;
    background-color: #77dd77;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

img.imgagregar{
    width: 70%;
}
div.seccioninforme{
    box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.71);
    border: 5px solid darkblue;
    border: groove;
    height: 150px;
    width: 165px;
    background-color: #77dd77;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
img.imginforme{
    width: 70%;
}
div.seccionmodificar{
    box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.71);
    border: 5px solid darkblue;
    border: groove;
    height: 150px;
    width: 165px;
    background-color: #77dd77;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

}
img.imgmodificar{
    width: 70%;
}
div.seccionventa{
    box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.71);
    border: 5px solid darkblue;
    border: groove;
    height: 150px;
    width: 165px;
    background-color: #77dd77;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
img.imgventa{
    width: 70%;
}
div.seccioncompra{
    box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.71);
    border: 5px solid darkblue;
    border: groove;
    height: 150px;
    width: 165px;
    background-color: #77dd77;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
img.imgcompra{
    width: 70%;
}
div.seccionregistrodelluvia{
    box-shadow: 0px 9px 15px -4px rgb(0 0 0 / 71%);
    border: 5px solid darkblue;
    border: groove;
    height: 150px;
    width: 165px;
    background-color: #77dd77;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-around;
}

img.imgregistrodelluvia{
    width: 80%;
}
div.secciondeceso{
    box-shadow: 0px 9px 15px -4px rgba(0,0,0,0.71);
    border: 5px solid darkblue;
    border: groove;
    height: 150px;
    width: 165px;
    background-color: #77dd77;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    
}
img.imgdeceso{
    width: 70%;
}

/*pie-foot*/
a.adelfoot{
    color: black(196, 192, 192);
}
footer.pie-foot{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/77/Nuages.gif);
    background-size: cover;
    border: solid gray;
    font-style: italic;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
a.adelfoot{
    margin-top: 10px;
    margin-bottom: 10px;
}


