
/* ACA COMIENZA EL FOOTER*/

footer.pie-foot{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/77/Nuages.gif);
    background-size: cover;
    border: solid gray;
    font-style: italic;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
a.adelfoot{
    margin-top: 10px;
    margin-bottom: 10px;
}