
html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a.button { color: #333; }

/* Helpers */

.is-rounded { border-radius: 50%; }

/* Contenedores */

.container { padding: 0 20px; }

/* Sistema de grillas */

.columns {
    margin-left: calc(-1 * var(--default-margin));
    margin-right: calc(-1 * var(--default-margin));
    margin-top: calc(-1 * var(--default-margin));
}

.columns.is-multiline { flex-wrap: wrap; }
.columns.is-centered { justify-content: center; }
.columns.is-vcentered { align-items: center; }

.column {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    padding: var(--default-padding);
}

/* Columnas de tablet para arriba */

@media (min-width: 769px) {
    .columns { display: flex; }

    .column.is-1 { flex: none; width: 8.33333% }
    .column.is-2 { flex: none; width: 16.66667% }
    .column.is-3 { flex: none; width: 25% }
    .column.is-4 { flex: none; width: 33.33333% }
    .column.is-5 { flex: none; width: 41.66667% }
    .column.is-6 { flex: none; width: 50% }
    .column.is-7 { flex: none; width: 58.33333% }
    .column.is-8 { flex: none; width: 66.66667% }
    .column.is-9 { flex: none; width: 75% }
    .column.is-10 { flex: none; width: 83.33333% }
    .column.is-11 { flex: none; width: 91.66667% }
    .column.is-12 { flex: none; width: 100% }
}

/* Tamaños para desktop */

@media (min-width: 1024px) {
    .columns { display: flex; }

    .column.is-1-desktop { flex: none; width: 8.33333% }
    .column.is-2-desktop { flex: none; width: 16.66667% }
    .column.is-3-desktop { flex: none; width: 25% }
    .column.is-4-desktop { flex: none; width: 33.33333% }
    .column.is-5-desktop { flex: none; width: 41.66667% }
    .column.is-6-desktop { flex: none; width: 50% }
    .column.is-7-desktop { flex: none; width: 58.33333% }
    .column.is-8-desktop { flex: none; width: 66.66667% }
    .column.is-9-desktop { flex: none; width: 75% }
    .column.is-10-desktop { flex: none; width: 83.33333% }
    .column.is-11-desktop { flex: none; width: 91.66667% }
    .column.is-12-desktop { flex: none; width: 100% }
}

.column.is-narrow { flex: none; }

/* Formularios */

.form.is-inline { display: inline-block; }

input,
textarea,
select,
button,
.button {
    padding: var(--default-padding);
    border: 1px solid var(--light);
    background-color: var(--white);
    border-radius: var(--default-radius);
    font-size: 1rem;
}

input.is-success,
textarea.is-success,
select.is-success,
button.is-success,
.button.is-success { border-color: var(--success-color);}

input.is-warning,
textarea.is-warning,
select.is-warning,
button.is-warning,
.button.is-warning { border-color: var(--warning-color);}

input.is-danger,
textarea.is-danger,
select.is-danger,
button.is-danger,
.button.is-danger { border-color: var(--danger-color);}

.button { 
    display: inline-block; 
    cursor: pointer;
}

.buttons { 
   display: flex;
   flex-wrap: wrap;
}

.buttons .button { margin-right: var(--default-margin);}

input,
textarea,
select { width: 100%; }

.feedback {
    margin-top: .25rem;
    font-size: .9rem;
}

.field:not(:last-child) { margin-bottom: 1rem;}

.field label {
    display: block;
    margin-bottom: .25rem;
}

.feedback.is-success { color: var(--success-color); }
.feedback.is-warning { color: var(--warning-color); }
.feedback.is-danger { color: var(--danger-color); }

/* Cards */

.card {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: var(--default-radius);
    box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 15%);
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
    .card-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 2px;
        background-color: #75ff4b;
        color: white;
        text-align: center;
    }


    .card-left figure img {
        width: 100%;
    }

    .card-content {
        width: 90%;
    padding: 1px;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 10px;
    }
    p{
        font-family: fantasy;
        margin-left: 14px;
        margin-top: 9px;
        margin-bottom: 9px;
        font-size: 22px;
    }
    p2{
        margin-left: 26px;
        margin-bottom: 9px;
        font-size: 22px;
    }
    p3{
        margin-left: 26px;
        margin-bottom: 40px;
        font-size: 18px;
    }

    h3{
        font-size: 26px;
        margin-top: 15px;
    }


header nav a {
    display: inline-block;
    background-color: #7AE7C7;
    color: #333;
    padding: var(--default-padding);
    margin: 0 var(--default-margin);
    border-radius: var(--default-radius);
}

header nav a:hover {
    background-color: #BAF2E1;
}