<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="../css/agregarstyles.css">
        <link rel="stylesheet" href="../css/viejostyles2.css">
        <link rel="stylesheet" href="../css/esencialstyles.css">
        <title>Detalle</title>
    </head>
<body>
    <header>   
        <%- include("../partials/header") %>
    </header>
    <main>
        <% if(group) { %>
            <%- include('groupD', { group }) %>
        <% } else { %>
            <h2>No encontramos ese grupo</h2>
        <% } %>
    </main>
</body>
</html>