<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="../css/homestyles.css">
        <title>MODULO ABM</title>
    </head>
</head>
<body>
    <header>   
        <%- include("../partials/header") %>
    </header>
    <main class="head-main">
        <div class="seccionanadir"><a href="agregar"><img src="/images/agregar2.png" alt="Logo agregar" class="imgagregar">AGREGAR</a></div>
        <div class="seccioninforme"><a href="informe"><img src="/images/informe2.png" alt="Logo informe" class="imginforme">INFORME</a></div>
        <div class="seccionmodificar"><a href="modificar"><img src="/images/modificar2.png" alt="Logo modificar" class="imgmodificar">MODIFICAR</a></div>
        <div class="seccionventa"><a href=venta"><img src="/images/venta2.png" alt="Logo venta" class="imgventa">VENTA</a></div>
        <div class="seccioncompra"><a href="compra"><img src="/images/compra2.png" alt="Logo compra" class="imgcompra">COMPRA</a></div>
        <div class="seccionregistrodelluvia"><a class="aregistrodelluvia" href="registroDelluvia"><img src="/images/registrodelluvia2.png" alt="Logo registrodelluvia" class="imgregistrodelluvia">REGISTRO DE LLUVIA</a></div>
        <div class="secciondeceso"><a href="deceso"><img src="/images/deceso2.png" alt="Logo deceso" class="imgdeceso">DECESO</a></div>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>