<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="css/agregarstyles.css">
        <link rel="stylesheet" href="css/viejostyles.css">
        <title>INFORME</title>
    </head>
<body>
    <header>   
        <%- include("../partials/header") %>
    </header>
    <div class="titulo">
        <a href="agregar"><h2>AÑADIR VACUNO</h2> </a> 
    </div>
    <main>
        <div class="container">
            <% groups.forEach(group => { %>
                <%- include('group', { group }) %>
            <% }) %> 
        </div>
    </main>
</body>
</html>